<a href="https://colab.research.google.com/github/Jondoloh/Introduction-to-pandas/blob/main/Introduction_to_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Part 1.

## Q1: Reading files and printing first five lines.

In [1]:
#Importing libraries
import numpy as np
import pandas as pd
import io

In [2]:
#Loading the data
data1 = pd.read_csv('/content/drive/MyDrive/af_austral.csv',skipinitialspace=True)
data1.columns = data1.columns.str.strip()
data1[['Names','Capital']] = data1[['Names','Capital']].apply(lambda x: x.str.strip())
data1.head()

          Names     Area  Population  Density   Capital
0  South Africa  1219912    55653654     46.0  Pretoria
1      Botswana   581726     2209208      3.8  Gaborone
2       Comoros     2612      813912    343.0    moroni
3      Eswatini    17363     1451428     82.7   Lobamba
4       Lesotho    30355     1924381     63.0    Maseru

In [3]:
data2 = pd.read_csv('/content/drive/MyDrive/af_central.csv',skipinitialspace=True)
data2.columns = data2.columns.str.strip()
data2[['Names','Capital']] = data2[['Names','Capital']].apply(lambda x: x.str.strip())
data2.head()

                      Names     Area  Population  Density     Capital
0                    Angola  1246700    29784000     23.9      Luanda
1                  Cameroon   475650    24054000     50.9     Yaounde
2                     Gabon   267668     2025000      7.9  Libreville
3         Equatorial Guinea    28052     1268000     45.2      Malabo
4  Central African Republic   622984     4659000      7.5      bangui

In [4]:
data3 = pd.read_csv('/content/drive/MyDrive/af_east.csv',skipinitialspace=True)
data3.columns = data3.columns.str.strip()
data3[['Names','Capital']] = data3[['Names','Capital']].apply(lambda x: x.str.strip())
data3.head()

      Names     Area  Population  Density        Capital
0   Eritrea   121320     5869970     50.0         Asmara
1  Ethiopia  1127127   105350020     88.0    Addis Ababa
2   Somalia   637657    11259290     18.0      Mogadishu
3  Djibouti    25030      810179     21.0  Djibouti City
4     Sudan  1886068    43120843     23.0       Khartoum

In [5]:
data4 = pd.read_csv('/content/drive/MyDrive/af_north.csv',skipinitialspace=True)
data4.columns = data4.columns.str.strip()
data4[['Names','Capital']] = data4[['Names','Capital']].apply(lambda x: x.str.strip())
data4.head()

     Names     Area  Population  Density  Capital
0  Algeria  2381741    40606052    17.05    Alger
1    Egypt  1001450    95688681    96.00    Cairo
2    Libya  1759540     6293253     3.58  Tripoli
3  Morocco   710850    35276786    73.10    Rabat
4  Tunisia   163610    11403248    63.00  Tunisia

In [6]:
data5 = pd.read_csv('/content/drive/MyDrive/af_west.csv',skipinitialspace=True)
data5.rename(columns={list(data5)[0]:'Names'},inplace = True)
data5.columns = data5.columns.str.strip()
data5[['Names','Capital']] = data5[['Names','Capital']].apply(lambda x: x.str.strip())
data5.head()

          Names    Area  Population  Density       Capital
0         Benin  114763     9352000       81    Porto Novo
1  Burkina Faso  272967    17482000       64   Ouagadougou
2    Cape Verde    4033      505000      125         Praia
3   Ivory Coast  322463    20595000       64  Yamoussoukro
4        Gambia   11295     1825000      162        Banjul

### Q2: Merge all the files and add a new column that defines the region where the country belongs to.

In [17]:
#Merging the files
df = pd.concat([data1,data2,data3,data4,data5],keys=["Austral","Central","East","North","West"]).reset_index()

# #del df['level_1']
df.drop('level_1',inplace=True,axis=1) #unwanted column

# #Adding a new column _Regions
df.rename(columns={list(df)[0]:'Region'},inplace = True)

# #Re_indexing the column names
data_merged = df.reindex(columns=['Names','Area','Population','Density','Capital','Region'])
data_merged.head()

          Names     Area  Population  Density   Capital   Region
0  South Africa  1219912    55653654     46.0  Pretoria  Austral
1      Botswana   581726     2209208      3.8  Gaborone  Austral
2       Comoros     2612      813912    343.0    moroni  Austral
3      Eswatini    17363     1451428     82.7   Lobamba  Austral
4       Lesotho    30355     1924381     63.0    Maseru  Austral

In [19]:
#confirming the count per region
data_merged.Region.value_counts()

West       16
Austral    12
East       12
Central     9
North       5
Name: Region, dtype: int64

### Q3: Calculate and present in the same Dataframe: The mean of the population $(μ)$ of each region, the standard deviation (σ) and the calculation of the coefficient of variation Cv and conclude: $$C_v = \frac{\sigma}{\mu}$$

In [20]:
#coefficient of variation
def Cv(data):
  cv = data.std()/data.mean()
  return cv

In [21]:
data_merged.groupby(['Region']).Population.agg([np.mean,np.std,Cv])

                 mean           std        Cv
Region
Austral  1.360964e+07  1.627204e+07  1.195626
Central  1.816611e+07  2.595417e+07  1.428714
East     2.857651e+07  3.089895e+07  1.081271
North    3.785360e+07  3.554852e+07  0.939105
West     2.002144e+07  3.979997e+07  1.987868

In [23]:
#data_merged.groupby(['Region']).Population.agg(Cv)

In [24]:
#Alternatively
cv = data_merged.groupby(['Region']).Population.std()/data_merged.groupby(['Region']).Population.mean()
results = data_merged.groupby(['Region']).Population.agg([np.mean,np.std])
results['Cv'] = cv
results

                 mean           std        Cv
Region
Austral  1.360964e+07  1.627204e+07  1.195626
Central  1.816611e+07  2.595417e+07  1.428714
East     2.857651e+07  3.089895e+07  1.081271
North    3.785360e+07  3.554852e+07  0.939105
West     2.002144e+07  3.979997e+07  1.987868

## 2. Part 2.

### Q1: Obtain the minimum area of each region and complete with the corresponding country name on the same line in the Series or Dataframe obtained.

In [26]:
data_merged.groupby(['Region']).apply(lambda p: p.loc[p.Area.idxmin()].loc[['Names','Area']])

                         Names    Area
Region
Austral              Mauritius    2040
Central  Sao Tome and Principe     964
East                Seychelles     455
North                  Tunisia  163610
West                Cape Verde    4033

### Q3: Get the minimum population of each region and complete with the corresponding country name on the same line in the Series or Dataframe obtained.

In [28]:
data_merged.groupby(['Region']).apply(lambda x:x.loc[x.Population.idxmin()].loc[['Names','Population']])

                         Names  Population
Region
Austral                Comoros      813912
Central  Sao Tome and Principe      204000
East                Seychelles       92430
North                    Libya     6293253
West                Cape Verde      505000

### Q4: Get the maximum population of each region and complete with the corresponding country name on the same line in the Series or Dataframe obtained.

In [30]:
data_merged.groupby(['Region']).apply(lambda x:x.loc[x.Population.idxmax()].loc[['Names','Population']])

                                    Names  Population
Region
Austral                      South Africa    55653654
Central  Democratic Republic of the Congo    81340000
East                             Ethiopia   105350020
North                               Egypt    95688681
West                              Nigeria   166629000

### Q5: Obtain the average population of each region and complete with the name of country having the population closest to the average of the corresponding group, on the same line in the Serie or Dataframe obtained.

In [37]:
data_merged.groupby(['Region']).apply(lambda p:p.loc[(np.subtract(p.Population,p.Population.mean())).abs().idxmin()].loc[['Names','Population']])

               Names  Population
Region
Austral     Zimbabwe    14030368
Central         Chad    14900000
East          Uganda    41487965
North        Morocco    35276786
West     Ivory Coast    20595000

### Q6: Obtain the average population of each region and complete with the name of the country having the population furthest from the average of the corresponding group, on the same line in the Series or Dataframe obtained.

In [38]:
data_merged.groupby(['Region']).apply(lambda p:p.loc[(np.subtract(p.Population,p.Population.mean())).abs().idxmax()].loc[['Names','Population']])

                                    Names  Population
Region
Austral                      South Africa    55653654
Central  Democratic Republic of the Congo    81340000
East                             Ethiopia   105350020
North                               Egypt    95688681
West                              Nigeria   166629000

### Q7: Obtain the average density of each region and complete with the country name having the density closest to the average of the corresponding group, on the same line in the Series or Dataframe obtained.

In [41]:
data_merged.groupby(['Region']).apply(lambda p:p.loc[(np.subtract(p.Density,p.Density.mean())).abs().idxmin()].loc[['Names','Density']])

                     Names  Density
Region
Austral             Malawi    152.0
Central  Equatorial Guinea     45.2
East                Uganda    172.0
North              Tunisia     63.0
West                 Benin     81.0

### Q8: Obtain the average density of each region and complete with the name of the country having the density furthest from the average of the corresponding group, on the same line in the Series or Dataframe obtained.

In [42]:
data_merged.groupby(['Region']).apply(lambda p:p.loc[(np.subtract(p.Density,p.Density.mean())).abs().idxmax()].loc[['Names','Density']])

                         Names  Density
Region
Austral              Mauritius   630.00
Central  Sao Tome and Principe   212.80
East                    Rwanda   462.70
North                    Libya     3.58
West                   Nigeria   180.00

### Q9: Using the population and area fields, calculate the density with the apply and lambda functions.

In [47]:
data_merged["Dens_Pop_Area"]=data_merged.apply(lambda p:(p.Population/p.Area),axis=1)

In [48]:
data_merged.head()

,Names,Area,Population,Density,Capital,Region,Dens_Pop_Area
0,South Africa,1219912,55653654,46.0,Pretoria,Austral,45.621040
1,Botswana,581726,2209208,3.8,Gaborone,Austral,3.797678
2,Comoros,2612,813912,343.0,moroni,Austral,311.604900
3,Eswatini,17363,1451428,82.7,Lobamba,Austral,83.593158
4,Lesotho,30355,1924381,63.0,Maseru,Austral,63.395849

### Q10: Create a field that is a 10% increase in population using the apply and lambda functions.

In [53]:
data_merged["10_Increase"]=data_merged.apply(lambda p:(p.Population*(1.1)),axis=1)

In [54]:
data_merged.head()

,Names,Area,Population,Density,Capital,Region,Dens_Pop_Area,10_Increase
0,South Africa,1219912,55653654,46.0,Pretoria,Austral,45.621040,61219019.4
1,Botswana,581726,2209208,3.8,Gaborone,Austral,3.797678,2430128.8
2,Comoros,2612,813912,343.0,moroni,Austral,311.604900,895303.2
3,Eswatini,17363,1451428,82.7,Lobamba,Austral,83.593158,1596570.8
4,Lesotho,30355,1924381,63.0,Maseru,Austral,63.395849,2116819.1